#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

.content {
  padding-top: var(--header-height);
  margin-left: var(--sidebar-width); /* ← такая же ширина, как у sidebar */
  padding: 24px;
  background: #f8f8f8;
  min-height: 100vh;
}
